body{
    background: linear-gradient(270deg, #1A1A2A, #1B1A31, #1A1A2A);
    background-size: 600% 600%;
    display: flex;
    height: 100%;
    color: white;
/*    overflow-y: hidden;*/
/*     font-family: inherit;*/
/*    margin: 1px;*/
/*    padding-bottom: 20px;*/
    position: relative;
    animation: gradientslide 15s ease infinite;*/
}

@keyframes gradientslide { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

.wrapper{
    background-image: url("../images/bg1.png");
/*    display: block;*/
    display: flex;
    height: auto; 
	width: 100%;

        
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
	/*z-index: 5;*/
	/*position: relative;*/
	/*top: 0%;*/
	/*left: 0%;*/
    
/*    align-items: stretch;*/
}

.imgC{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 35%;
    text-align: center;
}

.form-control[readonly] {
    color: #4E468C;
    background : black;
    border-color: black;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px;
    border: none;
    border-radius: 0;
    margin: 10px;
    float: left;
/*    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    background-color: #2b2644 !important; 
    border: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px; 
  background-color: transparent;
  color: white;
  text-align: center;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1B1A31;
    color: #fff;
    transition: all 0.9s;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1B1A31;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #FFF;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1B1A31;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2b2644;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1B1A31;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1B1A31;
}

a.article,
a.article:hover {
    background: #1A1A2A !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: 100%;
/*    overflow-y: hidden;*/
/*    padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-height: 200px;
  max-width: 350px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.credits{
    text-align: Left;
    margin: 20% 20px 0;
/*    padding: 12px;*/
    font-family: 'Yellowtail', cursive;
    font-size: 1.05em;
}

.carousel{
    margin-right: 10%;
    margin-left: 10%;
}
.carousel img{
    margin-bottom: -5%;
}
.navUl{
    list-style-type: none;    
    display: flex;
    margin: 0;
    float: left;
}
.navUl li{
    float: left;
}
.navUl h3{
    padding: 0 15px;
    margin-top: 12px;
}
body, html{
    background: linear-gradient(270deg, #261F5F, #D0CFDC, #8C8CAC);
    background-size: 600% 600%;
    color: #fff;
/*    animation: gradientslide 5s ease infinite;*/
    height: 100%;
}

@keyframes gradientslide { 
		0%{background-position:100% 50%}
		50%{background-position:100% 50%}
		100%{background-position:100% 50%}
	}

.wrapper{
    background-image: url("../images/bg1.png");
    height: 100%; 
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 5;
}
#image-wrap{

}
#image-wrap img{
  width: 100%;
  height: 100%;
}
#image-wrap canvas{
  
}


.entry{
    margin-top: 40px;
}
.entry label{
    color: crimson;
    font-size: 1.7em;
}
.entry input{
    width: 100%;
    background: #dedede;
    color: black;
    text-transform: uppercase;
    font-family: BTBrikRegular;
    font-size: 1.9em;
    text-align: center;
}
.canv{
  position: fixed;
  width: 920px;
  height: 240px;
}



